*.hi
*.o
*.sqlite3
*.swp
.cabal-sandbox
.DS_Store
.hsenv*
.psci_modules
.yesod-purescript-build
bower_components
cabal-dev/
cabal.sandbox.config
config/client_session_key.aes
dist*
episodes.js
episodes.sublime-project
episodes.sublime-workspace
node_modules
purescript-output
static/combined/
static/faygen-*.js
static/tmp/
tools/closure-compiler.jar
yesod-devel/