dist*
static/tmp/
static/combined/
config/client_session_key.aes
*.hi
*.o
*.sqlite3
.hsenv*
cabal-dev/
yesod-devel/
.cabal-sandbox
cabal.sandbox.config
.DS_Store
*.swp
episodes.sublime-project
episodes.sublime-workspace
static/faygen-*.js
tools/closure-compiler.jar
bower_components
