
body, td {
	font-family: sans-serif;
}

div#nav {
	width: 100%;
	border: 1px solid black;
}

table.show-detail {
    border-collapse: collapse;
}

table.show-details tbody tr td {
    border: 1px solid black;
    padding: 2pt 4pt;
}

table.show-details tbody tr td.show-title {
    font-weight: bold;
    text-align: center;
}

table.show-details tbody tr td.show-season {
    text-align: center;
}

table.big-calendar {
    border-collapse: collapse;
}

table.big-calendar > tbody > tr > td {
    border: 1px solid #789;
}

table.big-calendar > tbody > tr > td.day {
    font-size: 75%;
    background-color: #f0f8f6;
}

