
body, td {
	font-family: sans-serif;
}

div#nav {
	width: 100%;
	border: 1px solid black;
}

table.show-details {
    border-collapse: collapse;
}

table.show-details tbody tr td {
    border: 1px solid black;
    padding: 2pt 4pt;
}

table.show-details tbody tr td.show-title {
    font-weight: bold;
    text-align: center;
}

table.show-details tbody tr td.show-season {
    text-align: center;
}

table.big-calendar {
    border-collapse: collapse;
}

table.big-calendar > tbody > tr > td {
    vertical-align: top;
    font-size: 10pt;
    border: 1px solid black;
    width: 14%;
    padding: 1pt;
}

table.big-calendar > tbody > tr > td.day {
    font-size: 72%;
}

table.big-calendar > tbody > tr > td > table > tbody > tr > td {
    vertical-align: baseline;
}

table.big-calendar > tbody > tr > td > table > tbody > tr > td.checkbox-td {
    font-size: 72%;
    padding: 2pt;
}


/* Show subscriptions */

div.subscribed tr.episodes-show.not-subscribed {
    display: none;
}

div.not-subscribed tr.episodes-show.subscribed {
    display: none;
}

.subscribe-show, .unsubscribe-show {
    width: 2.5em;
    max-width: 2.5em;
    min-width: 2.5em;
    margin: 1pt;
}

tr.subscribed .subscribe-show {
    display: none;
}

tr.not-subscribed .unsubscribe-show {
    display: none;
}

